.popup {
    position: relative;
    display: inline-block;
    margin: 1rem;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-inner {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .popup:hover .popup-inner {
    display: block;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .create-btn {
    margin-top: 1rem;
    align-self:auto;
  }
  